div#search {
	margin-bottom: 10px;
}

div > span#search {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
	color:white;
	border: 2px solid green;
	padding: 10px 15px;
	border-radius: 50px;
	background-color: #0a0a0ac2;
}

div > span#search > i {
	margin-right: 10px;
}

div > span#search > input {
	border: none;
	background-color: #ffffff00;
	padding: 10px;
	color: lightgreen;
	letter-spacing: 2px;
}
