/*
 *
 * CSS Reset
 *
 */
 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

/*
 *
 * General Rules
 *
 */
body {
  font-family: sans-serif;
  background: linear-gradient(to right, green , red, blue);
}

#root {
	width: 100vw;
    padding: 0;
}

main#mainApp {
	height: 89vh;
	position: relative;
}

section#main {
	margin-bottom: 10px;
}

/*
 *
 * Custom Class
 *
 */
 .loading {
 	font-family: 'Orbitron', sans-serif;
 	letter-spacing: 5px;
 	text-align: center;
 	background-color: #000000;
 	color: white;
	padding: 20px 0;
 }

/*
 *
 * Override Bootstrap Class
 *
 */

